<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-6">
            <p class="hiragana">はじめまして </p>
            <p class="presentacion">Mi nombre es</p>
            <p class="presentacion">
                <span id="uno">A </span>
                <span id="dos"> N </span>
                <span id="tres"> A </span>
                <span id="cuatro"> H </span>
                <span id="cinco"> I</span>
            </p>
        </div>
        <div class="col-6 menu">
            <p><a href="#">Sobre mí</a><i class="fas fa-ice-cream" style="font-size: 30px;"></i></p>
            <p><a href="#">Educación / Experiencia</a><i class="fas fa-hat-wizard" style="font-size: 30px;"></i></p>
            <p><a href="#">Proyectos</a><i class="far fa-gem" style="font-size: 30px;"></i></p>
            <p><a href="#">Skills</a><i class="fas fa-star" style="font-size: 30px;"></i></p>
        </div>
    </div>
</div>



