
<div class="container" *ngFor="let persona of personas">
    <div class="img">
        <div>
            <img src={{persona?.imageUrl}} width="30%" alt="Ilustracion sobre mi" id="ilustracion">
        </div>
        <div>
            <h2>{{persona?.jobTitle}}</h2>  
        </div>
    </div>
    <div>
        <p class="hiragana animate__animated animate__fadeInLeftBig">はじめまして </p>
        <p class="presentacion animate__animated animate__fadeInRightBig">Mi nombre es</p>
        <p class="presentacion animate__animated animate__fadeInUpBig">{{persona?.name | uppercase }}</p>
    </div>
</div>
<footer class="footer">
    <div>
        <img src="/assets/img/APLogo-20-20.png" alt="Argentina Programa - icono" id= "ap">
    </div>
    <div id="yoProgramo">#YoProgramo</div>
</footer>



