div {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
}
.hiragana {
    color: rgb(165, 18, 50);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 600%;
    margin-bottom: 5%;
}

.animate__animated {
    animation-duration: 2s;
}

.presentacion {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 600%;
    color: #eeaec8;
}





