
<div class="container">
    <div class="row">
        <div class="col-6 text-end left">
            <h3 style="margin-bottom: 10%;">Educación</h3>
            <div *ngFor="let edu of edus">
                <h5>{{edu?.especialidad}}</h5>
                <h6 class="lugar">{{edu?.institucion}}</h6> 
                <h6>{{edu?.fechainicio}} - {{edu?.fechafin}}</h6>
            </div>
        </div>
        <div class="col-6 text-start right">
        <h3 style="margin-bottom: 5%;">Experiencia</h3>
            <div *ngFor="let explab of explaborales">
                <h5>{{explab?.posicion}}</h5>
                <h6 class="lugar">{{explab?.empresa}}</h6>
                <h6>{{explab?.fechaInicio}} - {{explab?.fechaFin}}</h6>
                <p>{{explab?.jobDescription}}</p>
            </div>
        </div>
    </div>
</div>
