<body class="fondo-celeste">
    <div class="container">
        <div class="row">
            <div class="col-6 text-end">
                <h3><i class="fas fa-hat-wizard" style="font-size: 30px;"></i> Educación</h3>
                <br><br>
                <h5>Desarrollo web fullstack</h5>
                <h6 class="lugar">Argentina Programa</h6> 
                <h6>noviembre 2021 - mayo 2022</h6>
                <br><br>
                <h5>Licenciatura en Diseño Textil e Indumentaria</h5>
                <h6 class="lugar">UADE (Universidad Argentina de la Empresa</h6>
                <h6>cursados 6 semestres: marzo 2013 - diciembre 2016</h6>
                <br><br>
                <h5>Bachiller en Artes Visuales</h5>
                <h6 class="lugar">Instituto Sagrada Familia</h6>
                <h6>2012</h6>
            </div>
            <div class="col-5">
                <h3>Experiencia <i class="fas fa-hat-wizard" style="font-size: 30px;"></i></h3>
                <br>
                <h5>Fundadora</h5>
                <h6 class="lugar">Cookie Box</h6>
                <h6>mayo 2020 - septiembre 2021</h6>
                <p>Durante el tiempo que lo lleve adelante me encargue de generar contenido para instagram, darle una identidad grafica con ayuda de diferentes ilustradores y crear una narrativa nueva en cada fecha especial buscando todo el tiempo nuevas tecnicas y sabores.</p>
                <br>
                <h5>Encargada de salón</h5>
                <h6 class="lugar">Bar Guevar</h6>
                <h6>enero 2019 - junio 2020</h6>
                <p>Tareas desempeñadas: diagramación de turnos de trabajo, manejo de proveedores, manejo de caja, supervisión de la apertura y cierre del salón, atención al cliente, capacitación de nuevos camareros</p>
                <br>
                <h5>Asistente</h5>
                <h6 class="lugar">Barrios Creativos - Dirección de Promocion Cultutral</h6>
                <h6>mayo 2080 - septiembre 2018</h6>
                <p>Tareas desempeñadas: logística y proveedores, programación de itinerarios, diagramación de fechas de proyecto, apoyo administrativo a líderes de proyecto, presupuestos, confección de documentación e informes</p>
            </div>
        </div>
    </div>
</body>
