h4 {
    font-weight: bold;
}

a {
    color: rgb(1, 10, 4);
}

img {
    width: 60%;
    height: 40%;
}

.tecnologias {
    font-weight: bold;
    margin-top: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
    color: rgb(1, 10, 4);
}

.row {
    background-color: rgba(112, 182, 132, 0.5);
}

.col-4 {
    padding-top: 2%;
    border: 2px solid;
}

.col-4:hover {
    background-color: rgba(182, 211, 190, 0.5);
}

