
ul {
    margin-left: -10%;
    margin-top: 5%;
}

a {
    color: rgb(1, 10, 4);
}

img {
    width: 60%;
    height: 40%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
    color: rgb(1, 10, 4);
}

.petalos {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.row {
    background-color: rgba(112, 182, 132, 0.5);
}

.col-4 {
    padding-top: 2%;
    border: 2px solid;
}

.col-4:hover {
    background-color: rgba(182, 211, 190, 0.5);
}

