
<div class="container">
    <div class="row">
        <div class="col-6 left">
            <h3>Skills</h3>
            <div>
                <h5>HTML <i class="fab fa-html5"></i></h5>
            </div>
            <div>
                <h5>CSS <i class="fab fa-css3"></i></h5>
            </div>
            <div>
                <h5>Bootstrap <i class="fab fa-bootstrap"></i></h5>
            </div>
            <div>
                <h5>Angular <i class="fab fa-angular"></i></h5>
            </div>
            <div>
                <h5>MySQL <i class="fas fa-database"></i></h5>
            </div>
            <div>
                <h5>Java <i class="fab fa-java"></i></h5>
            </div>
        </div>
        <div class="col-6 right">
            <h3>Idiomas</h3>
            <div>
                <h5>Español</h5>
            </div>
            <div>
                <h5>Ingles</h5>
            </div>
            <div>
                <h5>Frances</h5>
            </div>
            <div>
                <h5>Japones</h5>
            </div>
        </div>
    </div>
</div>
