div {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

p {
    font-size: 30px;
    color: #c1b3d6;
    font-weight: bold;
}