
<div class="sidebar">
    <div class="sidebar-top">
        <span>
            <img src="/assets/img/APLogo-20-20.png" alt="Argentina Programa - icono" width="120px" height="75px" class="align-text-center">
        </span>
        <span>
            #YoProgramo
        </span>
    </div>
    <div>
        <img src="/assets/img/2020 anahi.jpg" width="40%" height="40%" alt="Ilustracion sobre mi" id="ilustracion">
        <h2>Jr. Developer</h2>
        <ul class="menu">
            <li><a routerLink="/home" class="rosa">Home</a></li>
            <li><a routerLink="/sobre-mi" class="lila">Sobre mí </a></li>
            <li><a routerLink="/edu-exp" class="celeste">Educación / Experiencia</a></li>
            <li><a routerLink="/proyectos" class="verde">Proyectos</a></li>
            <li><a routerLink="/skills" class="amarillo">Skills</a></li>
        </ul>
        <div class="sidebar-bottom">
            <div style="width: 30%;">
                <a href="https://github.com/Anahipv" class="redes">
                    <i class="fab fa-github" style="font-size: 35px;" alt="Github" title="Ir a Github"></i>
                </a>
                <a href="https://www.linkedin.com/in/anpvalenzuela/">
                    <i class="fab fa-linkedin" style="font-size: 35px;" alt="Linkedin" title="Ir a Linkedin"></i>
                </a>
            </div>
            <button class="btn btn-m" title="Inicia sesion para editar">Login <i class="fas fa-magic"></i></button>    
        </div>
    </div>
</div>


